.layout {
	display: grid;
	height: 100%;
	grid-template-rows: auto auto auto 1fr;
	gap: 1em;
}

.house {
	place-self: center;
	display: grid;
	grid-template-columns: 0.8fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 0.7fr;
	width: 640px;
	height: 320px;

	grid-template-areas:
		"lavanderia cozinha copa jeronimo"
		"lavanderia joicce sala celsli"
		"varanda varanda varanda varanda";
}

@media (max-width: 710px) {
	.house {
		width: 90vw;
		height: 45vw;
	}
}

.house div {
	border: 1px solid;
}
