:host {
  place-self: center;
  display: grid;
  grid-template-columns: 0.8fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.7fr;
  width: 640px;
  height: 320px;

  grid-template-areas:
    "lavanderia cozinha copa jeronimo"
    "lavanderia joicce sala celsli"
    "varanda varanda varanda varanda";
}

@media (max-width: 710px) {
  :host {
    width: 90vw;
    height: 45vw;
  }
}
